<!-- <div class="main-container">
    <div class="sidebar">
      <div class="logo">
        TaskView
      </div>
      <ul>
        <li><a routerLink="/tasks">Tasks</a></li>
        <li><a routerLink="/tasks/new">New Task</a></li>
      </ul>
    </div>
  
    <div class="content">
      <div class="text-section">
        <h1>Appreciate life, Be creative.</h1>
        <p>Join millions of people to capture ideas, organize life and create something creative.</p>
      </div>
      
      <div class="auth-buttons">
        <a class="btn" routerLink="/login">Sign In</a>
        <a class="btn btn-signup" routerLink="/register">Create Account</a>
      </div>
    </div>
  </div> -->
  
  
  <nav>
    <ul>
      <li><a routerLink="/tasks" routerLinkActive="active">Tasks</a></li>
      <li><a routerLink="/new-task" routerLinkActive="active">New Task</a></li>
      <li *ngIf="!authService.isAuthenticated()">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="authService.isAuthenticated()">
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  
