.btn-logout {
    background-color: var(--error);
    color: var(--button-text);
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    font-size: 14px;

}

.profile-data {
    display: flex;
    flex-direction: column;
}

.profile-containter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}