form {
  display: flex;
  flex-direction: column;
  width: 100%
}

input,
textarea,
select {
  padding: 15px;
  border-radius: 10px;
  border: 2px solid var(--border-color);
  width: 100%
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}



.create-task-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: white;
  border-radius: 10px;
  width: 800px;
  overflow: auto;
  gap: 20px;
  padding: 50px
}

form textarea {
  height: 150px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.submit-btn {
  display: block;
  padding: 10px 15px;
  border: none;
  border-radius: 7px;
  background-color: var(--info);
  color: var(--button-text);
  text-align: center;
}

form label {
  font-weight: 500;
}