<section class="task-container">
  <div class="task-list-header">
    <h1 class="title">My Tasks</h1>
    <button (click)="openForm()" class="create-task-btn">
      Create new task
    </button>
  </div>

  <app-task-form
    *ngIf="isFormOpened"
    (close)="closeForm()"
    [tasks]="tasks"
    [isEditMore]="false"

  ></app-task-form>

  <select id="filter" [(ngModel)]="filterStatus">
    <option value="all">All</option>
    <option value="pending">Pending</option>
    <option value="completed">Completed</option>
  </select>

  <div class="task-list">
    <div *ngFor="let task of getFilteredTasks()" class="task-card" (click)="goToTask(task.id)" style="cursor: pointer;">
      <div class="task-header">
        <div class="task-title">
          <input
            type="checkbox"
            [checked]="task.status"
            (click)="$event.stopPropagation()"
            (change)="handleCheckChange(task.id, task.status)"
          />
          <a [routerLink]="['/tasks', task.id]">
            <h2 [class.crossed-out]="task.status">{{ task.title }}</h2>
          </a>
          
          
        </div>
        <span [ngClass]="getPriorityClass(task.priority)">
          {{ task.priority }}
        </span>
      </div>

      <div class="task-description">
        {{ task.description }}
      </div>
    </div>
  </div>
</section>