@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --primary-bg: #f4f6f9;
    --secondary-bg: #ffffff;
    --primary-text: #333333;
    --secondary-text: #666666;
    --accent: #4caf50;
    --error: #f44336;
    --info: #2196f3;
    --border-color: #e0e0e0;
    --hover-bg: #f1f1f1;
    --button-bg: #4caf50;
    --button-text: #ffffff;
    --disabled-bg: #e0e0e0;
    --shadow: rgba(0, 0, 0, 0.1);
}


* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: var(--primary-bg);
}

a,
button,
input,
textarea,
select,
option {
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

hr {
    margin: 0;
    height: 2px;
    background-color: var(--primary-text);
}