<div class="task-details-container">
  <div *ngIf="error" class="error">{{ error }}</div>

  <div *ngIf="task" class="task-content">
    <div class="control-btns">
      <button class="edit-btn" (click)="openForm()">Edit</button>
      <button class="delete-btn" (click)="handleDeleteTask()">Delete</button>
    </div>

    <app-task-form
      *ngIf="isFormOpened"
      (close)="closeForm()"
      (taskUpdated)="handleTaskUpdated($event)"
      [isEditMode]="true"
      [taskToEdit]="task"
    ></app-task-form>

    <div class="task-card">
      <div class="task-header">
        <div class="task-title">
          <input
            type="checkbox"
            [checked]="task.status"
            (click)="handleCheckClick(task.id, task.status)"
          />
          <h2 [class.crossed-out]="task.status">{{ task.title }}</h2>
        </div>
        <span [ngClass]="getPriorityClass(task.priority)" class="priority-text">
          {{ task.priority }}
        </span>
      </div>

      <div class="task-description">
        {{ task.description }}
      </div>

      <div class="task-meta">
        <span class="task-date">Created: {{ task.createdAt | date }}</span>
      </div>
    </div>

    <div class="comments-section">
      <h2>Comments ({{ taskComments.length || 0 }})</h2>
      <div class="comments">
        <div
          class="comments-wrapper"
          *ngIf="taskComments.length; else noComments"
        >
          <div class="comment-card" *ngFor="let comment of taskComments">
            <p class="comment-content">{{ comment.content }}</p>
            <p class="comment-date">{{ comment.created_at }}</p>

            <button
              class="comment-btn"
              (click)="handleDeleteComment(comment.id)"
            >
              <mat-icon style="color: red">delete</mat-icon>
            </button>
          </div>
        </div>

        <ng-template #noComments>
          <p class="no-comments">No comments yet</p>
        </ng-template>

        <form (ngSubmit)="handleCommentSubmit()" class="comment-form">
          <label class="content-label" for="content">Add a comment</label>
          <textarea
            id="content"
            [(ngModel)]="newComment.content"
            name="content"
            placeholder="Write your comment here..."
            required
          ></textarea>
          <button class="submit-btn" type="submit">Post Comment</button>
        </form>
      </div>
    </div>
  </div>
</div>
