.task-card {
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 20px;
    background-color: var(--secondary-bg);
    position: relative;
}


.task-title {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.task-title h2 {
    overflow: hidden;
}


.task-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.task-title input {
    width: 20px;
    height: 20px;
    margin-top: 1.5rem;
    margin-right: 10px;
}

.task-description {
    color: var(--secondary-text);
}

.task-date {
    color: var(--secondary-text);
    padding: 10px 0
}


hr {
    margin-bottom: 50px
}


.priority-text {
    font-weight: bold;
}

.high {
    color: var(--high)
}

.medium {
    color: var(--medium)
}

.low {
    color: var(--low)
}

.crossed-out {
    text-decoration: line-through;
    color: var(--secondary-text)
}

.edit-btn {
    display: block;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    background-color: var(--info);
    color: var(--button-text);
    text-align: center;
}

.delete-btn {
    display: block;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    background-color: var(--error);
    color: var(--button-text);
    text-align: center;
}

.control-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px 0;
    width: 100%;
    justify-content: flex-start;
}

.comments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comments-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.comment-card {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 15px;
    background-color: var(--secondary-bg);
    position: relative;
    width: fit-content
}

.comment-date {
    color: var(--secondary-text);
    margin: 0
}


.comments-section {
    margin-top: 40px
}

.submit-btn {
    display: block;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    background-color: var(--info);
    color: var(--button-text);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px
}

form textarea {
    height: 100px;
    width: 300px
}

input,
textarea,
select {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    width: 100%
}

.content-label {
    font-size: large;
}


.comment-btn {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    margin-top: 10px
}